* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../images/bg-mobile-light.jpg");
  background-color: #e4e5f1;
  background-repeat: no-repeat;
  background-size: 100% 195px;
  font-family: Arial, sans-serif;
}

.container {
  padding: 50px 20px;
}

.container #section-one header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #section-one .logo h1 {
  font-size: 1.9rem;
  color: white;
  letter-spacing: 0.6rem;
}

.container #section-one .theme-mode img {
  margin-top: 3px;
}

.container #section-one .theme-mode #light-mode {
  display: none;
}

.container #section-two {
  margin-top: 2rem;
}

.container #section-two .create-todolist {
  position: relative;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 12px 25px;
  border: 2px solid transparent;
}

.container #section-two .create-todolist label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #section-two .create-todolist label input[type="text"] {
  background: transparent;
  margin: 0 0 0 20px;
  width: 90%;
  border: none;
  outline: none;
  color: #484b6a;
}

.container #section-two .create-todolist label input[type="text"]::-webkit-input-placeholder {
  font-weight: 600;
}

.container #section-two .create-todolist label input[type="text"]:-ms-input-placeholder {
  font-weight: 600;
}

.container #section-two .create-todolist label input[type="text"]::-ms-input-placeholder {
  font-weight: 600;
}

.container #section-two .create-todolist label input[type="text"]::placeholder {
  font-weight: 600;
}

.container #section-two .create-todolist label::after {
  content: "";
  border: 1px solid #9394a5;
  border-radius: 1000px;
  width: 16px;
  aspect-ratio: 1;
  position: absolute;
  left: 20px;
}

.container #section-two .todoContainer {
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.container #section-two .todoContainer .complete {
  color: #9394a5;
  text-decoration: line-through;
}

.container #section-two .todoContainer .todolist {
  position: relative;
  border-bottom: 1px solid #d2d3db;
  background-color: white;
  padding: 13px 15px 0px;
  display: none;
  /* Hidden by default */
}

.container #section-two .todoContainer .todolist .boxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container #section-two .todoContainer .todolist .boxContainer p {
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: -10px;
}

.container #section-two .todoContainer .todolist .boxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container #section-two .todoContainer .todolist .boxContainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #9394a5;
  border-radius: 100%;
}

.container #section-two .todoContainer .todolist .boxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.container #section-two .todoContainer .todolist .boxContainer input:checked ~ .checkmark {
  background: url("../images/icon-check.svg"), linear-gradient(80deg, #57ddff, #c058f3);
  background-repeat: no-repeat;
  background-position: center center;
}

.container #section-two .todoContainer .todolist .boxContainer input:checked ~ .checkmark::after {
  display: block;
}

.container #section-two .todoContainer .todolist .boxContainer .checkmark::after {
  left: 3px;
  top: 1px;
  width: 5px;
  height: 6px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.container #section-two .todoContainer .todolist .deltodoBtn {
  position: absolute;
  top: 12px;
  right: 13px;
  display: none;
}

.container #section-two .todoContainer .todolist .deltodoBtn img {
  width: 12px;
  aspect-ratio: 1;
}

.container #section-two .todoContainer .show {
  display: block;
}

.container #section-two .todoContainer .todolist:hover .deltodoBtn {
  display: block;
}

.container #section-two .todoContainer .listBtn {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 13px;
  border-radius: 0 0 5px 5px;
}

.container #section-two .todoContainer .listBtn span, .container #section-two .todoContainer .listBtn button {
  font-size: 12px;
  font-weight: 600;
  margin: auto 0;
  color: #9394a5;
  cursor: pointer;
}

.container #section-two .todoContainer .listBtn .desktopBtn {
  visibility: hidden;
  padding: 5px 0px;
}

.container #section-two .todoContainer .listBtn .desktopBtn button {
  background: none;
  border: none;
  outline: none;
  margin: 0 5px;
}

.container #section-two .todoContainer .listBtn span:hover, .container #section-two .todoContainer .listBtn button:hover {
  color: #3a7bfd;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.container #section-two .todoContainer .mobileBtn {
  background-color: white;
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.container #section-two .todoContainer .mobileBtn button {
  background: none;
  border: none;
  outline: none;
  margin: 0 5px;
  color: #9394a5;
  font-weight: 700;
}

.container #section-two .todoContainer .mobileBtn button:hover {
  color: #3a7bfd;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}
/*# sourceMappingURL=index.css.map */